@import '../variables';

.nft-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    background-color: $gray-dark10;
    padding: 0rem 3%;

    h1 {
        text-align: center;
        margin-top: 0;
    }
}

.change-network {
    padding-top: 10%;
    text-align: center;
    height: 100vh;
}

.cCopy {
    text-align: center;
    padding: 2rem 0 0.5rem 0;
    background-color: black;
    font-size: 0.9rem;
}
