@import '../variables';

.imgDiv {
    img {
        height: 12rem;
        width: 12rem;
    }
}
.nft-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    background-color: $gray-dark5;
    padding: 2rem 1rem;

    h1 {
        text-align: center;
    }
}
