@import '../variables';

.change-network {
    text-align: center;
}
.header {
    padding: 0 9%;
    min-height: 30vh;
    display: flex;
    overflow: hidden;
    background: linear-gradient(to right, rgb(40, 40, 40), black);

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title {
            font-size: 6rem;
            font-weight: 200;
        }
        &-subtitle {
            font-size: 2rem;
            font-weight: 100;
        }
    }
    &__right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            width: 100%;
            animation: rotate 100s linear infinite;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            50% {
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.nft-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    background-color: $gray-dark5;
    padding: 2rem 1rem;

    h1 {
        text-align: center;
    }
}
