@import '../variables';

.header {
    padding: 0 9%;
    height: 90vh;
    display: flex;
    overflow: hidden;
    background: linear-gradient(to bottom right, rgb(39, 39, 39), black);

    &__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;

        @include responsiveMax600 {
            width: 120%;
        }
        &-title {
            font-family: 'Exo 2', sans-serif;
            font-size: 6rem;
            font-weight: 300;
            padding-bottom: 0.5rem;
            @include responsiveMax900 {
                font-size: 4rem;
            }
            @include responsiveMax600 {
                font-size: 3rem;
            }
            @include responsiveMax400 {
                font-size: 2.5rem;
            }
        }
        &-subtitle {
            font-size: 2rem;
            font-weight: 100;
            @include responsiveMax900 {
                font-size: 1.5rem;
            }
            @include responsiveMax600 {
                font-size: 1rem;
            }
        }
    }
    &__right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        @include responsiveMax600 {
            // width: 100%;
            // height: 100%;
        }
        img {
            height: 100%;
            width: 150%;
            animation: rotate 130s linear infinite;
            @include responsiveMax900 {
                width: 200%;
                height: 100%;
            }
            @include responsiveMax600 {
                width: 250%;
                height: 90%;
            }
            @include responsiveMax400 {
                width: 250%;
                height: 70%;
            }
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            50% {
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.cMint {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4% 10%;
    background-color: rgb(29, 29, 29);
    min-height: 40rem;
    // max-height: 70rem;

    @include responsiveMax900 {
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    @include responsiveMax600 {
        min-height: 30rem;
    }

    &left-col {
        padding-right: 10%;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &right-col {
        //IMAGES GRID
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;

        & > * {
            //IMAGE ROWs
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            height: 14rem;
            overflow: hidden;
            border-radius: 20px;
            margin: 0.5rem;

            @include responsiveMax900 {
                height: 13rem;
            }
            @include responsiveMax600 {
                height: 10rem;
            }
            @include responsiveMax400 {
                height: 7rem;
            }
            @include responsiveMin1800 {
                height: 19rem;
            }
        }
        :hover img {
            transform: scale(1);
        }

        img {
            transform: scale(1.5);
            max-height: 100%;
            transition: all 0.4s ease-out;
        }
    }
}

.cInfo {
    display: flex;
    justify-content: space-around;
    min-height: 50vh;
    background-color: rgb(42, 42, 42);
    transition: all 0.7s;

    & > * {
        transition: all 1s;
        width: 33%;
        padding: 4% 6%;
        display: flex;
        flex-direction: column;
    }
    & > *:hover {
        transition: all 0.5s;
        flex-grow: 3;
        background-color: rgb(41, 8, 49);
    }

    &-title {
        @include heading(2rem);
        text-align: left;

        @include responsiveMax600 {
            @include heading(1.5rem);
            text-align: left;
        }
    }
    &-subheading {
        padding: 1rem 0;
        font-weight: 200;
    }

    @include responsiveMax900 {
        flex-direction: column;
        & > * {
            box-sizing: border-box;
            width: 100%;
        }
    }
}

.cContract {
    text-align: center;
    padding-bottom: 3rem;
    background: url('../images/gal4.png'),
        linear-gradient(to top left, rgb(37, 31, 40), rgb(0, 0, 0));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 50vh;
    h1 {
        margin-top: 0;
    }
    h2 {
        @include responsiveMax600 {
            font-size: 90%;
        }
    }
}
