@import '../variables';

.change-network {
    text-align: center;
}

.nft-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    background-color: $gray-dark5;
    // padding: 0rem 1rem;

    h1 {
        text-align: center;
    }
}
