.center-spinner {
    display: flex;
    justify-content: center;
    // align-items:
    height: 94vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(33, 23, 42, 0.7)),
        url('../../images/logo.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}
