@import '../../variables';

.nft-card {
    color: $gray-light;
    box-shadow: 0 2px 17px -5px $blue-bright;
    margin: 2rem 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.479);
    width: 20rem;
    position: relative;
    transition: all 0.7s;
    overflow: hidden;
    font-size: 1.2rem;

    @include responsiveMin1800 {
        font-size: 1.6rem;
        width: 22rem;
    }

    &:hover {
        transform: scale(1.02);
        background-color: lighten($gray1, 2%);
        @include pulsateAnimation(3s);
    }
    .nft-image-div {
        width: 100%;
    }
    .nft-image {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

    .nft-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;

        &__title {
            font-weight: 300;
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        &__price {
            margin-right: auto;

            &-icon {
            }
        }
    }

    .nft-lower-box {
        display: flex;
        align-items: flex-end;

        .sold {
            color: rgba(161, 255, 165, 0.762);
            padding-right: 1rem;
            align-self: flex-end;
        }
    }
    .nft-price-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: auto;
        padding: 1rem 1rem;

        &__price {
            margin: 0.5rem;
            // text-transform: uppercase;
            font-weight: 300;
        }
        &__value {
            display: flex;
            align-items: center;

            &-icon {
                fill: white;
                padding-right: 0.4rem;
                height: 1.25rem;

                @include responsiveMin1800 {
                    padding-right: 0.5rem;
                    height: 1.6rem;
                }
            }
            &-amount {
                font-weight: 500;
            }
        }
    }
}
