@import '../../variables';

.nft-card {
    color: $gray-light;
    box-shadow: 0 2px 20px -5px $blue-bright;
    margin: 1rem 1rem 1rem 0;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.479);
    flex: 0 0 25%;
    position: relative;
    transition: all 0.7s;
    overflow: hidden;

    &:hover {
        transform: scale(1.02);
        background-color: lighten($gray1, 2%);
        animation: pulsate 3s infinite;
    }
    // CARD glossy hover effect
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: -100%;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(90deg, transparent, rgba(243, 140, 255, 0.255), transparent);
    //     transition: 0.4s;
    // }
    // &:hover::before {
    //     left: 100%;
    //     opacity: 0%;
    // }

    @keyframes pulsate {
        0% {
            box-shadow: 0 2px 20px 15px $blue;
        }
        33% {
            box-shadow: 0 2px 20px 10px $blue-bright;
            box-shadow: 0 2px 20px 10px rgb(182, 101, 182);
        }
        66% {
            box-shadow: 0 2px 20px 10px $blue-bright;
            box-shadow: 0 2px 20px 10px rgb(179, 31, 56);
        }
        100% {
            box-shadow: 0 2px 20px 15px $blue;
        }
    }
}
.nft-image {
    max-height: 20rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.nft-image-div {
}

.nft-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    &__title {
        font-weight: 300;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    &__price {
        margin-right: auto;

        &-icon {
        }
    }
}

.nft-lower-box {
    display: flex;
    align-items: flex-end;

    .sold {
        color: rgba(161, 255, 165, 0.762);
        padding-right: 1rem;
        align-self: flex-end;
    }
}
.nft-price-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    padding: 1rem 1rem;

    &__price {
        margin: 0.5rem;
        // text-transform: uppercase;
        font-weight: 300;
    }
    &__value {
        display: flex;

        &-icon {
            fill: white;
            width: 1.25rem;
            height: 1.25rem;
        }
        &-amount {
            font-weight: 500;
        }
    }
}
